*
h1{
    color: white;
}
body{
    background-color: rgb(154, 13, 13);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

a {
    width: 200px;               
    height:30px;                           
    background-color: rgb(154, 13, 13);
    color: rgb(243, 243, 243);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    text-decoration: none; 
}

nav{
    text-align: center;           
} 

nav ul li{
    display: inline-flex;                           
}




.grid-layout{
    height: 600px;
    display: grid;
    grid-template-areas: 
    'caja-1 caja-1 caja-1 caja-1 caja-1 caja-1'
    'caja-2 caja-2 caja-2 caja-2 caja-2 caja-2'
    'caja-2 caja-2 caja-2 caja-2 caja-2 caja-2'
    'caja-3 caja-3 caja-4 caja-4 caja-4 caja-4'
    'caja-3 caja-3 caja-4 caja-4 caja-4 caja-4'
    'caja-5 caja-5 caja-6 caja-6 caja-7 caja-7'
    'caja-5 caja-5 caja-6 caja-6 caja-7 caja-7'
    'caja-8 caja-8 caja-8 caja-8 caja-8 caja-8';

    border: 0px solid black;
    padding: 10px 600px 10px;
}

.caja{
    background-color: rgb(38, 38, 38);
    text-align: center;
    padding: 10px;
    color: white;
}


.c1{
    grid-area: caja-1;
    color: black;
}

.c2{
    grid-area: caja-2;
    color: black;
}
.c3{
    grid-area: caja-3;
    background-color: rgb(154, 13, 13);
    color: black;
}
.c4{
    grid-area: caja-4;

}
.c5{
    grid-area: caja-5;
    color: black;
}
.c6{
    grid-area: caja-6;
    color: black;
}

.c7{
    grid-area: caja-7;
}

.c8{
    grid-area: caja-8;
    color: black;
}

video{
    padding: 1px 1px 1px;
}

p{
    color: white;
}